.mddata a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}

.mddata h2 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.mddata h2:first-of-type {
    margin-top: 0;
}

.mddata h3 {
    font-weight: bold;
    margin-top: 1.5rem;
    font-size: 1.4rem;
}

.mddata h4 {
    font-size: 1.2rem;
}

.mddata h5 {
    font-size: 1.1rem;
}